<h1>User info</h1>

<%= image_tag user.get_profile_image(100,100) %>
<p>
<tbody>
  <tr></tr>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  </p>
  <tr>  
    <th>introduction</th>
    <th></th>
  </tr>
</tbody>

<h1>New book</h1>
<%= form_with model: book, url: '/books', method: :post do |f| %>
  <div>
    <p>Title</p>
    <p><%= f.text_field :title %></p>
  </div>
  <div>
    <p>Opnion</p>
    <p><%= f.text_area :body %></P>
  </div>
    <%= f.submit 'Create Book' %>
<% end %>
